<%= form_with(model: expatry, local: true) do |form| %>
  <% if expatry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expatry.errors.count, "error") %> prohibited this expatry from being saved:</h2>

      <ul>
      <% expatry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="margin-left: 15%" >
    <div class="form-group col-md-4">
    <%= form.label :code %>
    <%= form.text_field :code %>
    </div>

  <div class="form-group col-md-4">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group col-md-4" >
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
