<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Expatries</h1>
<div class="table-responsive" style="padding-left: 15%;padding-right: 15%;">
  <table class="table">
  <thead class="thead-dark" >
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expatries.each do |expatry| %>
      <tr>
        <td><%= expatry.code %></td>
        <td><%= expatry.name %></td>
        <td><%= link_to 'Show', expatry %></td>
        <td><%= link_to 'Edit', edit_expatry_path(expatry) %></td>
        <td><%= link_to 'Destroy', expatry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Expatry', new_expatry_path, class: "btn btn-primary" %>
</div>