<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @expatry.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @expatry.name %>
</p>

<%= link_to 'Edit', edit_expatry_path(@expatry) %> |
<%= link_to 'Back', expatries_path %>
