<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @position.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Date debut position:</strong>
  <%= @position.date_debut_position %>
</p>

<p>
  <strong>Date fin position:</strong>
  <%= @position.date_fin_position %>
</p>

<p>
  <strong>Date annulation position:</strong>
  <%= @position.date_annulation_position %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
