<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Prestations</h1>
  <div class="table-responsive" style="padding-left: 15%;padding-right: 15%;">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestations.each do |prestation| %>
      <tr>
        <td scope="row"><%= prestation.code %></td>
        <td scope="row"><%= prestation.name %></td>
        <td scope="row"><%= link_to 'Show', prestation %></td>
        <td scope="row"><%= link_to 'Edit', edit_prestation_path(prestation) %></td>
        <td scope="row"><%= link_to 'Destroy', prestation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Prestation', new_prestation_path %>
