<%= form_with(model: service_etablsmt, local: true) do |form| %>
  <% if service_etablsmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_etablsmt.errors.count, "error") %> prohibited this service_etablsmt from being saved:</h2>

      <ul>
      <% service_etablsmt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :etablissement %>
    <%= form.text_field :etablissement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
