<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_etablsmt.name %>
</p>

<p>
  <strong>Etablissement:</strong>
  <%= @service_etablsmt.etablissement %>
</p>

<%= link_to 'Edit', edit_service_etablsmt_path(@service_etablsmt) %> |
<%= link_to 'Back', service_etablsmts_path %>
