<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <%= form_with(model: administrative, local: true) do |form| %>
    <% if administrative.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(administrative.errors.count, "error") %> prohibited this administrative from being saved:</h2>

        <ul>
        <% administrative.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= form.label :region_id %>
      <%= form.collection_select(:region_id, Region.order(:name), :id, :name,
          {
            include_blank: true
          },
            onchange: 'getIDRegion()',
            class: 'form-control col-md-3'
        ) 
      %>
    </div>

    <div class="form-group">
      <%= form.label :typedetablissement_id %>
      <%= form.collection_select(:typedetablissement_id, Typedetablissement.order(:nom), :id, :nom,
          {
              include_blank: true
          },
              #onchange: 'getIDDomaine()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group etablissements" data-etablissements="<%= @etablissements.to_json %>">
      <%= form.label :etablissement_id %>
      <%= form.collection_select(:etablissement_id, Etablissement.order(:nom), :id, :nom,
          {
              include_blank: true
          },
              #onchange: 'getIDEtablissement()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group directions" data-directions="<%= @directions.to_json%>">
      <%= form.label :direction_id %>
      <%= form.collection_select(:direction_id, Direction.order(:name), :id, :name,
          {
              include_blank: true
          },
              onchange: 'getIDDirection()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group services" data-services="<%= @services.to_json%>">
      <%= form.label :service_id %>
      <%= form.collection_select(:service_id, Service.order(:name), :id, :name,
          {
              include_blank: true
          },
              onchange: 'getIDService()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group emplois" data-emplois="<%= @emplois.to_json%>">
      <%= form.label :emploi_id %>
      <%= form.collection_select(:emploi_id, Emploi.order(:name), :id, :name,
          {
              include_blank: true
          },
              #onchange: 'getIDDomaine()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group">
      <%= form.label :postedepaie_id %>
      <%= form.collection_select(:postedepaie_id, Postedepaie.order(:name), :id, :name,
          {
              include_blank: true
          },
              #onchange: 'getIDDomaine()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group">
      <%= form.label :echellon_id %>
      <%= form.collection_select(:echellon_id, Echellon.order(:code), :id, :code,
          {
              include_blank: true
          },
              #onchange: 'getIDDomaine()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group">
      <%= form.label :corp_id %>
      <%= form.collection_select(:corp_id, Corp.order(:name), :id, :name,
          {
              include_blank: true
          },
              #onchange: 'getIDDomaine()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="form-group indices" data-indices="<%= @indices.to_json%>">
      <%= form.label :indice_id %>
      <%= form.collection_select(:indice_id, Indice.order(:name), :id, :name,
          {
              include_blank: true
          },
              onchange: 'getIDIndice()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>
    
    <div class="form-group grades" data-grades="<%= @grades.to_json%>">
      <%= form.label :grade_id %>
      <%= form.collection_select(:grade_id, Grade.order(:code), :id, :code,
          {
              include_blank: true
          },
              #onchange: 'getIDDomaine()',
              class: 'form-control col-md-3'
          ) 
      %>
    </div>

    <div class="actions">
      <%= form.submit class:"btn btn-primary"%>
    </div>
  <% end %>
</main>