<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Enfants</h1>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date naissance</th>
        <th>Agent</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @enfants.each do |enfant| %>
        <tr>
          <td><%= enfant.nom %></td>
          <td><%= enfant.prenom %></td>
          <td><%= enfant.date_naissance %></td>
          <td><%= enfant.agent.matricule %></td>
          <td><%= link_to 'Show', enfant %></td>
          <td><%= link_to 'Edit', edit_enfant_path(enfant) %></td>
          <td><%= link_to 'Destroy', enfant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Enfant', new_enfant_path() %>

</main>