<p id="notice"><%= notice %></p>

<p>
  <strong>Matricule:</strong>
  <%= @agent.matricule %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @agent.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @agent.prenom %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @agent.titre %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @agent.sex %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @agent.date_de_naissance %>
</p>

<p>
  <strong>Lieu de naissance:</strong>
  <%= @agent.lieu_de_naissance %>
</p>

<p>
  <strong>Date en cours:</strong>
  <%= @agent.date_en_cours %>
</p>

<p>
  <strong>Lieu de recrutement:</strong>
  <%= @agent.date_recrutement %>
</p>

<p>
  <strong>Nationalite:</strong>
  <%= @agent.nationalite %>
</p>

<p>
  <strong>Code femme marie:</strong>
  <%= @agent.code_femme_marie %>
</p>

<p>
  <strong>Nom du mari:</strong>
  <%= @agent.nom_du_mari %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
