<%= form_with(model: sous_service_etablsmt, local: true) do |form| %>
  <% if sous_service_etablsmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sous_service_etablsmt.errors.count, "error") %> prohibited this sous_service_etablsmt from being saved:</h2>

      <ul>
      <% sous_service_etablsmt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :service_etablsmt_id %>
    <%= form.text_field :service_etablsmt_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
