<p id="notice"><%= notice %></p>

<h1>Sous Service Etablsmts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Service etablsmt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sous_service_etablsmts.each do |sous_service_etablsmt| %>
      <tr>
        <td><%= sous_service_etablsmt.name %></td>
        <td><%= sous_service_etablsmt.service_etablsmt %></td>
        <td><%= link_to 'Show', sous_service_etablsmt %></td>
        <td><%= link_to 'Edit', edit_sous_service_etablsmt_path(sous_service_etablsmt) %></td>
        <td><%= link_to 'Destroy', sous_service_etablsmt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sous Service Etablsmt', new_sous_service_etablsmt_path %>
