<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sous_service_etablsmt.name %>
</p>

<p>
  <strong>Service etablsmt:</strong>
  <%= @sous_service_etablsmt.service_etablsmt %>
</p>

<%= link_to 'Edit', edit_sous_service_etablsmt_path(@sous_service_etablsmt) %> |
<%= link_to 'Back', sous_service_etablsmts_path %>
