<p id="notice"><%= notice %></p>

<h1>Emplois</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emplois.each do |emploi| %>
      <tr>
        <td><%= emploi.name %></td>
        <td><%= link_to 'Show', emploi %></td>
        <td><%= link_to 'Edit', edit_emploi_path(emploi) %></td>
        <td><%= link_to 'Destroy', emploi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emploi', new_emploi_path %>
