<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Emplois</h1>
<div class="table-responsive" style="padding-left: 15%;padding-right: 15%;">
  <table class="table">
  <thead class="thead-dark" >
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emplois.each do |emploi| %>
      <tr>
        <td scope="row"><%= emploi.name %></td>
        <td scope="row"><%= link_to 'Show', emploi %></td>
        <td scope="row"><%= link_to 'Edit', edit_emploi_path(emploi) %></td>
        <td scope="row"><%= link_to 'Destroy', emploi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nouveau Emploi', new_emploi_path, class: "btn btn-primary" %>
</div>

