<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Corps</h1>

  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @corps.each do |corp| %>
        <tr>
          <td><%= corp.code %></td>
          <td><%= corp.name %></td>
          <td><%= link_to 'Show', corp %></td>
          <td><%= link_to 'Edit', edit_corp_path(corp) %></td>
          <td><%= link_to 'Destroy', corp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Corp', new_corp_path %>
</main>