<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @corp.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @corp.name %>
</p>

<%= link_to 'Edit', edit_corp_path(@corp) %> |
<%= link_to 'Back', corps_path %>
