<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @echellon.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @echellon.name %>
</p>

<%= link_to 'Edit', edit_echellon_path(@echellon) %> |
<%= link_to 'Back', echellons_path %>
