<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Indices</h1>

  <% @indices.each do |index| %>
    <div class="card text-center">  
      <div class="card-header">
        <span>Indice</span>
      </div>
      <div class="card-body">
        <h2 class="card-title"><%= index.name%></h2>
        <div class="row">
          <div class="col-md-6">
            <p class="card-text" style=text-align:left; >Type d'indice : <%= index.typeindice.name %></p>
            <p class="card-text" style=text-align:left; >Echellon : <%= index.echellon.code %></p>
          </div>
          <div class="col-md-6">
            <p class="card-text" style=text-align:right; ></p>
          </div>
        </div>
        <!-- a href="#" class="btn btn-primary">Go somewhere</a -->
      </div>
      <div class="card-footer text-muted">
        <span>DTAI-CEP</span>
        <span style=margin:auto;><%= link_to 'Voir', index %></span>
        <span style=margin:auto;><%= link_to 'Editer', edit_index_path(index) %></span>
        <span style=margin:auto;><%= link_to 'Destroy', index, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
    </div> 
    
  <br>
  <% end %>

  <%= link_to 'New Index', new_index_path %>
</main>