<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @index.name %>
  </p>

  <p>
    <strong>Type d'indice:</strong>
    <%= @index.typeindice.name %>
  </p>

  <p>
    <strong>Echellon:</strong>
    <%= @index.echellon.code %>
  </p>
  <%= link_to 'Edit', edit_index_path(@index) %> |
  <%= link_to 'Back', indices_path %>
</main>