<p id="notice"><%= notice %></p>

<h1>Preststions</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preststions.each do |preststion| %>
      <tr>
        <td><%= preststion.code %></td>
        <td><%= preststion.name %></td>
        <td><%= link_to 'Show', preststion %></td>
        <td><%= link_to 'Edit', edit_preststion_path(preststion) %></td>
        <td><%= link_to 'Destroy', preststion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preststion', new_preststion_path %>
