<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @preststion.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @preststion.name %>
</p>

<%= link_to 'Edit', edit_preststion_path(@preststion) %> |
<%= link_to 'Back', preststions_path %>
