<p id="notice"><%= notice %></p>

<h1>Postes</h1>

<table>
  <thead>
    <tr>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Nom ecriture</th>
      <th>Capital</th>
      <th>Cumul retenu</th>
      <th>Montant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postes.each do |poste| %>
      <tr>
        <td><%= poste.date_debut %></td>
        <td><%= poste.date_fin %></td>
        <td><%= poste.nom_ecriture %></td>
        <td><%= poste.capital %></td>
        <td><%= poste.cumul_retenu %></td>
        <td><%= poste.montant %></td>
        <td><%= link_to 'Show', poste %></td>
        <td><%= link_to 'Edit', edit_poste_path(poste) %></td>
        <td><%= link_to 'Destroy', poste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poste', new_poste_path %>
