<p id="notice"><%= notice %></p>

<p>
  <strong>Date debut:</strong>
  <%= @poste.date_debut %>
</p>

<p>
  <strong>Date fin:</strong>
  <%= @poste.date_fin %>
</p>

<p>
  <strong>Nom ecriture:</strong>
  <%= @poste.nom_ecriture %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @poste.capital %>
</p>

<p>
  <strong>Cumul retenu:</strong>
  <%= @poste.cumul_retenu %>
</p>

<p>
  <strong>Montant:</strong>
  <%= @poste.montant %>
</p>

<%= link_to 'Edit', edit_poste_path(@poste) %> |
<%= link_to 'Back', postes_path %>
