<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <p id="notice"><%= notice %></p>

  <h1>Mode Paiements</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mode_paiements.each do |mode_paiement| %>
        <tr>
          <td><%= mode_paiement.name %></td>
          <td><%= link_to 'Show', mode_paiement %></td>
          <td><%= link_to 'Edit', edit_mode_paiement_path(mode_paiement) %></td>
          <td><%= link_to 'Destroy', mode_paiement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Mode Paiement', new_mode_paiement_path %>

</main>